<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>form_view.js test</title>
</head>
<body>
    <script language="javascript" type="text/javascript" src="http://closure-library.googlecode.com/svn/trunk/closure/goog/base.js"></script>
    <script language="javascript" type="text/javascript">
        goog.require('goog.string');
        goog.require('goog.string.StringBuffer');
    </script>
    <script language="javascript" type="text/javascript" src="../../../../src/symfony.js"></script>
    <script language="javascript" type="text/javascript" src="../../../../src/symfony/component/form/form_view.js"></script>
    <script language="javascript" type="text/javascript">
        goog.require('goog.testing.asserts');
        goog.require('goog.testing.jsunit');
        goog.require('goog.testing.FunctionMock');

        function testConstructor() {
            var formView = new symfony.component.form.FormView();
        }

        function testSet() {
            var formView = new symfony.component.form.FormView();

            formView.set("foo", "bar");
            formView.set("baz", false);
            formView.set("bill", {});
            formView.set("a", {
                "a": "a"
            });

            assertEquals("bar", formView.vars["foo"]);
            assertEquals(false, formView.vars["baz"]);
            assertHashEquals({}, formView.vars["bill"]);
            assertHashEquals({
                "a": "a"
            }, formView.vars["a"]);
        }

        function testGet() {
            var formView = new symfony.component.form.FormView();

            formView.vars["foo"] = "bar";
            formView.vars["baz"] = false;
            formView.vars["bill"] = {};
            formView.vars["a"] = {
                "a": "a"
            };

            assertEquals("bar", formView.get("foo"));
            assertEquals(false, formView.get("baz"));
            assertHashEquals({}, formView.get("bill"));
            assertHashEquals({
                "a": "a"
            }, formView.get("a"));
        }

        function testHas() {
            var formView = new symfony.component.form.FormView();

            formView.vars["foo"] = "bar";
            formView.vars["baz"] = false;
            formView.vars["bill"] = {};
            formView.vars["a"] = {
                "a": "a"
            };

            assertTrue(formView.has("foo"));
            assertTrue(formView.has("baz"));
            assertTrue(formView.has("bill"));
            assertTrue(formView.has("a"));

            assertFalse(formView.has("z"));
            assertFalse(formView.has(false));
            assertFalse(formView.has(false));
            assertFalse(formView.has(true));

            delete formView.vars["foo"];
            delete formView.vars["baz"];
            delete formView.vars["bill"];
            delete formView.vars["a"];

            assertFalse(formView.has("foo"));
            assertFalse(formView.has("baz"));
            assertFalse(formView.has("bill"));
            assertFalse(formView.has("a"));
        }
    </script>
</body>
</html>